.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(
    to left bottom,
    #c8af0e,
    #d2a500,
    #db9a00,
    #e48f04,
    #eb8312
  );
  padding: 0.2% 0.2%;
}
.paper {
  text-align: center;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  -webkit-box-shadow: 12px 10px 15px 4px rgba(0, 0, 0, 0.86);
  box-shadow: 12px 10px 15px 4px rgba(0, 0, 0, 0.86);
  font-size: 15px;
  border-radius: 6px;
}

hr {
  height: 2px;
  width: 97.5%;
  background-color: rgb(27, 27, 27);
  border: 0px;
  margin: 20px 10px;
}
.text2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(27, 27, 27);
}
