.repos {
  background-image: linear-gradient(
    to right top,
    #033d62,
    #014d7c,
    #005e97,
    #006fb2,
    #0480cf
  );
  width: 100%;
  box-sizing: border-box;
  padding: 20px 4%;
  overflow: hidden;
}

#h2 {
  width: 100%;

  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 5px;
  font-size: 150%;
  box-sizing: border-box;
  padding: 20px;
}

#giticon {
  font-size: 50px;
  margin: 5px;
}
